body,h1,h2,p,ul,li{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
header{
    background-color: azure;
    color:darkcyan;
    padding:20px;
}
header h1{
    margin: 0;
}
nav ul{
    list-style-type: circle;
}
nav ul li{
    display: inline;
    margin-right: 20px ;
}
nav ul li a{
    color:dodgerblue;
    text-decoration:underline;
}
section{
    padding: 20px;
}
footer,p{
    background-color: honeydew;
    color: cornflowerblue;

}